<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Waste Classification Model</title>
  <link rel="stylesheet" href="{% static 'app/css/upload.css' %}">
</head>
<body style='background-color: #f2f7f2;'>
  <div class="container">
    <h1>Waste Classifier</h1>
    <form method="post" id="uploadForm" enctype="multipart/form-data">
      <label for="uploadInput" class="uploadLabel">Upload an image your item</label>
      {% csrf_token %}
        {{ form }}
        <div id="imagePreview" class="hidden"></div>
        <div id="result" class="hidden"></div>
        <button type="submit" style='margin-top:20px; background-color:green'>Identify Item</button>
    </form>    
  </div>
  <script src="{% static 'app/js/script.js' %}"></script>
</body>
</html>
